shiny==1.7.4
shinydashboard==0.7.2
leaflet==2.1.2
readxl==1.4.2
dplyr==1.1.2
lubridate==1.9.2
stringr==1.5.0
plotly==4.10.1
shinyjs==2.1.0
shinyWidgets==0.7.6
jsonlite==1.8.4
writexl==1.4.2
DT==0.27
openxlsx==4.2.5
